*{
    margin: 0;
    padding: 0;
}
.container{
    width: 30%;
    height: 20vh;
    background-color: blueviolet;
}
.item{
    min-width: 300px;
    height: 10vh;
    background-color: rgb(132, 78, 183);
}