*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    text-align: center;
    /*border-top-style: solid;*/
    border-bottom-style: double;
    border-bottom-width: 5vh;
    border-bottom-color: blueviolet;
}
