*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    color: blueviolet;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: rgba(105, 51, 160, 0.5);
}
