*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#card{
   width: ;
    height: 100vh;
    background-color: blueviolet;
    border-width: 20px;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}