*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    text-align: center;
    width: min-content;
    max-width: 150px;
    overflow-block: auto;
    border: 1px solid black;
}