*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    text-align: center;
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: hsl(0, 100%, 30%, .5);
}
