*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c33;
}
.heart{
    position: relative;
    width: 100px;
    height: 90px;
}
.heart:before, 
.heart:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50px;
    height: 80px;
    background-color: white;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.heart::after{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%
}