*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
table{
    border: solid 1px #333;
    width: 70vw;
    border-collapse: separate;
    border-spacing: 0;
}
td, th{
    border: solid 1px #333;
}